.container {
	display: flex;
	flex-direction: column;
	gap: 1.3vw;
	padding: 1.2vw 5.5vw;
	justify-content: center;
	width: 40%;
	background-color: rgba(0, 0, 0, 0.8);
}

.head {
	font-size: 1.8vw;
	color: #fff;
	font-weight: 600;
	line-height: normal;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.4vw;
}

.param {
	display: flex;
	flex-direction: column;
	gap: 0.1vw;
}

.label {
	color: #e0e0e0;
	font-size: 1vw;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
}

.input {
	height: 2.8vw;
	color: #fff;
	font-size: 1.2vw;
	padding-left: 1.25vw;
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
}

.input::placeholder {
	color: #fff;
	font-size: 1.2vw;
	opacity: 1;
}

.input::-ms-input-placeholder {
	color: #fff;
	font-size: 1.2vw;
}

.input:focus {
	outline: none;
}

.inputMob {
	display: none;
}

.message {
	font-size: 1.2vw;
	color: #fff;
	height: 6vw;
	padding: 0.6vw 1.25vw;
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	resize: none;
}

.message::placeholder {
	color: #fff;
	font-size: 1.2vw;
	opacity: 1;
}

.message::-ms-input-placeholder {
	color: #fff;
	font-size: 1.2vw;
}

.message:focus {
	outline: none;
}

.messageMob {
	display: none;
}

.btn {
	margin-top: 1.4vw;
	height: 2.8vw;
	background-color: #006ac1;
	font-size: 1.2vw;
	color: #fff;
	cursor: pointer;
	border: none;
}

.btn:hover {
	background-color: #00509a;
}

.btnDisabled {
	cursor: not-allowed;
	background-color: gray;
}

@media screen and (max-width: 464px) {
	.container {
		gap: 4vw;
		padding: 7vw 8vw 9vw 8vw;
		width: 100%;
	}

	.head {
		font-size: 6vw;
		color: #fff;
		font-weight: 600;
		line-height: normal;
		text-align: center;
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 5vw;
	}

	.label {
		display: none;
	}

	.input {
		display: none;
	}

	.inputMob {
		display: block;
		font-size: 3.5vw;
		color: #fff;
		height: 7vw;
		padding-left: 1.5vw;
		border: none;
		border-bottom: 1px solid #fff;
		background-color: transparent;
	}

	.inputMob::placeholder {
		color: #fff;
		font-size: 3.5vw;
		opacity: 1;
	}

	.inputMob::-ms-input-placeholder {
		color: #fff;
		font-size: 3.5vw;
	}

	.inputMob:focus {
		outline: none;
	}

	.message {
		display: none;
	}

	.messageMob {
		display: block;
		font-size: 3.5vw;
		color: #fff;
		height: 15vw;
		padding: 1.5vw;
		border: none;
		border-bottom: 1px solid #fff;
		background-color: transparent;
		resize: none;
	}

	.messageMob::placeholder {
		color: #fff;
		font-size: 3.5vw;
		opacity: 1;
	}

	.messageMob::-ms-input-placeholder {
		color: #fff;
		font-size: 3.5vw;
	}

	.messageMob:focus {
		outline: none;
	}

	.btn {
		margin-top: 1vw;
		height: 7vw;
		font-size: 3.5vw;
	}
}
